@import "tailwindcss";

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@font-face {
  font-family: 'Mamba Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Mamba Regular'), url('assets/fonts/Mamba Ice Cream 1.woff') format('woff');
}

h1 {
  font-family: 'Mamba Regular', cursive;
}

p, button {
  font-family: 'Quicksand', sans-serif;
}